* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;

  font-size: 15px;
}

.primo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  padding-top: 45px;
}
.primo h1 {
  color: hsl(300, 43%, 22%);
  padding: 0px 60px;
  padding-bottom: 15px;
  font-weight: 600;
}
.primo p {
  padding: 0px 30px;
  font-weight: 400;
}

.secondo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 40px;
  padding-top: 0px;
}
.review {
  background-color: hsl(300, 24%, 96%);
  padding: 10px 25px;
  width: 100%;
  border-radius: 15px;
  margin: 1em 1em;
  font-size: 12px;
  color: hsl(300, 43%, 22%);
}

.review p {
  padding: 5px;
}
.rating {
  color: hsl(300, 43%, 22%);
}

.terzo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 40px;
}
.people {
  background-color: hsl(300, 43%, 22%);
  padding: 25px;
  border-radius: 5px;
  text-align: left;
  margin: 10px 0;
}

.people > .name,
.people > p {
  color: white;
}
.people .verified {
  color: hsl(333, 80%, 67%);
  text-align: center;
  margin-left: 10px;
}

.people img {
  border-radius: 50%;
  max-width: 40px;
  margin: 0 15px;
  transform: translateY(21px);
}
.people > .name,
img {
  display: inline-block;
}

.people > p {
  padding: 0 10px;
  font-weight: 400;
  font-size: 14px;
}

@media (min-width: 376px) {
  body {
    position: relative;
  }
  .primo {
    width: 50vw;
    height: 50vh;
    display: inline-block;
    padding: 40px;
    padding-top: 100px;
    text-align: start;
  }
  .primo > h1 {
    font-size: 40px;
  }
  .primo > p {
    padding-left: 59px;
    line-height: 28px;
  }
  .secondo {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: right;
    padding-right: 40px;
    padding-left: 0;
  }
  .review {
    width: 65%;
    display: flex;
    align-items: center;

    margin-left: 0;
  }
  .review > img {
    margin: 5px 5px;
  }

  #one {
    margin-top: 35px;
    transform: translateX(-40px);
  }

  #three {
    transform: translateX(50px);
  }

  .terzo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 91vw;
    align-items: center;
    margin: 0px 45px;
  }

  .people {
    margin: 15px;
    height: auto;
  }
  #dos {
    transform: translateY(20px);
  }
  #tres {
    transform: translateY(40px);
  }
}
